
<div class="center hero-unit">
  <h1>Welcome to Redtail Technology</h1>
  <h3>&nbsp;</h3>
  <h3>Free 30 day trial</h3>
  <h3>&nbsp;</h3>
  <h3>&nbsp;</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>