<% provide(:title, "Sign in") %>
<h3>&nbsp;</h3>
<h1>Sign in</h1>
<div class="row">
	<div class="span6 offset3">
      <div class="center hero-unit">
		<%= form_for(:session, url: sessions_path) do |f| %>
          <%= render 'fields', f: f %>
	    <% end %>
      </div>
      <h4>New user?&nbsp;&nbsp;<%= link_to "Sign up now!", signup_path %></h4>
  </div>
</div>
